---
title: "Autopost Test Run"
date: 2021-10-27T00:00:01-04:00
draft: false
---

This post _should_ have been published early in the morning -- while I was sleeping -- using [this script](https://www.outcoldman.com/en/archive/2021/01/21/scheduled-aws-amplify-builds/). 

One of the cool parts of this blog is the number of different languages and technologies that it is supported by. I am sure I will be missing some, but off the top of my head:
- Hugo (blogging framework)
- Golang (programming language used by Hugo)
- AWS Lambda, EventBridge, Amplify (infrastructure that builds and hosts the blog)
- Markdown (syntax the blog is written in)
- Python (programming language for blog scripts and lambdas)
- GitHub's repositories (storing the content of the blog)
- Git (version management and uploading posts)
- HTML (structure of web pages)
- CSS (styling of web pages)
- JavaScript (functionality of web pages)
- HTTP + TLS (browser-server connection)
